// colors
$main-color: #000;
// $main-color: #181a20;
$text-color: #fff;
$primary-color: #00aced;
$secondary-color: #00ff00;
$sup-color: #ff0066;

// textSize
$text-size: 20px;
$text-size-md: 24px;
$text-size-lg: 28px;
