.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: $main-color;
  height: 80px;
  min-height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  font-size: $text-size-lg;
  font-style: italic;
  font-weight: normal;
  letter-spacing: 5px;
  color: $text-color;
  margin: 0;
  position: relative;
  cursor: pointer;

  a {
    z-index: 1;
  }

  &:before,
  &:after {
    position: absolute;
    content: attr(data-text);
    top: 0;
    left: 0;
    color: $text-color;
    overflow: hidden;
    white-space: nowrap;
  }

  &:before {
    left: 3px;
    text-shadow: -3px 2px $primary-color;
    animation: glitch-1 3s ease-in reverse infinite;
  }

  &:after {
    left: -3px;
    text-shadow: -5px 2px #fff;
    animation: glitch-2 3s ease-in-out reverse infinite;
  }
}

.header-address {
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: $text-size;
  color: $text-color;
  margin-right: 10px;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@keyframes glitch-2 {
  0% {
    clip: rect(129px, auto, 36px, 30px);
  }
  5% {
    clip: rect(36px, auto, 4px, 30px);
  }
  10% {
    clip: rect(85px, auto, 66px, 30px);
  }
  15% {
    clip: rect(91px, auto, 91px, 30px);
  }
  20% {
    clip: rect(148px, auto, 138px, 30px);
  }
  25% {
    clip: rect(38px, auto, 122px, 30px);
  }
  30% {
    clip: rect(69px, auto, 54px, 30px);
  }
  35% {
    clip: rect(98px, auto, 71px, 30px);
  }
  40% {
    clip: rect(146px, auto, 34px, 30px);
  }
  45% {
    clip: rect(134px, auto, 43px, 30px);
  }
  50% {
    clip: rect(102px, auto, 80px, 30px);
  }
  55% {
    clip: rect(119px, auto, 44px, 30px);
  }
  60% {
    clip: rect(106px, auto, 99px, 30px);
  }
  65% {
    clip: rect(141px, auto, 74px, 30px);
  }
  70% {
    clip: rect(20px, auto, 78px, 30px);
  }
  75% {
    clip: rect(133px, auto, 79px, 30px);
  }
  80% {
    clip: rect(78px, auto, 52px, 30px);
  }
  85% {
    clip: rect(35px, auto, 39px, 30px);
  }
  90% {
    clip: rect(67px, auto, 70px, 30px);
  }
  95% {
    clip: rect(71px, auto, 103px, 30px);
  }
  100% {
    clip: rect(83px, auto, 40px, 30px);
  }
}
